[alias]
	alias = config --global --get-regexp ^alias\\.
	a = add
	aa = add --all
	ah = add --help
	ai = add --interactive
	ap = add --patch
	au = add --update
	b = branch
	ba = branch --all
	bav = branch --all --verbose
	bavv = branch --all -vv
	bc = branch --copy
	bd = branch --delete
	bdd = branch -D
	bdf = branch --delete --force
	bh = branch --help
	bm = branch --move
	bmm = branch -M
	br = branch --remotes
	brv = branch --remotes --verbose
	buu = branch --unset-upstream
	bv = branch --verbose
	bvv = branch -vv
	c = commit
	ca = commit --all
	cam = commit --all --message
	ch = commit --help
	cm = commit --message
	d = diff
	dc = diff --cached
	dfi = diff --full-index
	dh = diff --help
	dno = diff --name-only
	dns = diff --name-status
	ds = diff --stat
	e = rebase
	ea = rebase --abort
	ec = rebase --continue
	eh = rebase --help
	ei = rebase --interactive
	em = rebase main
	eo = rebase --onto
	es = rebase --skip
	f = fetch
	fa = fetch --all
	fh = fetch --help
	ft = fetch --tags
	g = log
	ga = log --all
	gag = log --all --grep
	gf = log --follow
	gg = log --grep
	gh = log --help
	g1 = log --max-count 1
	gmc = log --max-count
	go = log --oneline
	gop = log --oneline --patch
	gop1 = log --oneline --patch --max-count 1
	gp = log --patch
	gp1 = log --patch --max-count 1
	gs = log --stat
	h = stash
	ha = stash apply
	hc = stash clear
	hd = stash drop
	hh = stash --help
	hl = stash list
	hp = stash pop
	hs = stash show
	ig = config --global
	ih = config --help
	il = config --list
	is = config --system
	k = clone
	kb = clone --branch
	kd = clone --depth
	kh = clone --help
	krs = clone --recurse-submodules
	l = pull
	la = pull --all
	ld = pull --depth
	ldr = pull --dry-run
	lh = pull --help
	lnt = pull --no-tags
	lp = pull --prune
	lq = pull --quiet
	lr = pull --rebase
	lv = pull --verbose
	m = merge
	ma = merge --abort
	mc = merge --continue
	mh = merge --help
	mm = merge main
	mnc = merge --no-commit
	mncs = merge --no-commit --squash
	ms = merge --squash
	n = clean
	ndr = clean --dry-run
	nddr = clean -d --dry-run
	ndf = clean -d --force
	nf = clean --force
	nfdr = clean --force --dry-run
	nh = clean --help
	ni = clean --interactive
	nq = clean --quiet
	nx = clean -x
	nxdr = clean -x --dry-run
	ov = remote --verbose
	oa = remote add
	oao = remote add origin
	oh = remote --help
	opo = remote prune origin
	opodr = remote prune origin --dry-run
	osh = remote set-head
	p = push
	pa = push --all
	pd = push --delete
	pdo = push --delete origin
	pf = push --force
	pfwl = push --force-with-lease
	ph = push --help
	psuo = push --set-upstream origin
	pasuo = push --all --set-upstream origin
	pt = push --tags
	r = restore
	rh = restore --help
	rs = restore --staged
	s = switch
	sc = switch --create
	sdc = switch --discard-changes
	sf = switch --force
	sfc = switch --force-create
	sh = switch --help
	sm = switch main
	t = reset
	th = reset --hard
	tm = reset --mixed
	ts = reset --soft
	u = status
	uh = status --help
	uss = status --show-stash
	uuf = status --untracked-files
	uv = status --verbose
	v = revert
	va = revert --abort
	vc = revert --continue
	vh = revert --help
	vnc = revert --no-commit
	vq = revert --quit
	vs = revert --skip
	y = cherry-pick
	yh = cherry-pick --help
	ync = cherry-pick --no-commit
